@import './theming';

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    margin: 30px;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

.large {
    font-size: 26px;
}

.small {
    font-size: 10px;
}