@import './theming';

a {
    text-decoration: none;
}

.btn {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 8px;
    width: 100px
}

.btn-primary {
    background-color: $color-primary;
    color: white;
    border-color: white;

    &:hover {
        background-color: white;
        color: $color-primary;
        border-color: $color-primary;
    }
}

.btn-secondary {
    background-color: white;
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: white;
        border-color: white;
    }
}